body {
  margin: 0;
  padding: 0;
  font-family: "Rye", cursive;
  font-size: 36px;
  background-color: #e3e3e3;
}

code {
  font-family: "Rye", cursive;
}

/* #video {
  position: fixed;
  z-index: -1;
  width: 100%;
} */

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.animatedBorder {
  /* border-radius: 0; */
  border: 0.25rem solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.an:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.navLinks .customLink {
  margin: 0 4rem;
  padding-top: 4rem;
}

.logo:active {
  transform: scale(0.9);
}
.customLink:active {
  font-size: calc(36px * 0.9);
}

.headerContainer {
  height: 11vh;
  box-shadow: 0 6px 6px 0 #000000a4;
}

.footerStyle {
  height: 13vh;
  box-shadow: 0 -6px 6px 0 #000000a4;
}

.footerLinks {
  margin: 0 2rem;
}
